@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
	--bg-primary:#0070fa;
	--color-primary:#0070fa;
}

/* for links and lists 
*/
a{
	text-decoration: none;
}

ul{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
}

h1{
    color:#0070fa;
    font-weight:bold;
}




*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     
     background-size: 100% 100%;
     
    }

    
    
    .mainheader{
     width: 100%;
     background : linear-gradient(rgba( 0,112,250,0.1),rgba(0,112,250,0.4));
     height: 120px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    .mainheader .logo img{
        width: 350px;
        height: 300px;
        padding: 0px;
        padding-top: 40px;
    }
    
    .mainheader nav{
     width: 350px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding-right: 180px;
    }
    
    .mainheader nav a{
     text-decoration: none;
     color: #0070fa;
     text-transform: uppercase;
     font-weight: bold;
     padding:15px;
    }
    
    .menubtn{
     margin-right: 60px;
    }
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    
    
    main{
        background-image:url('images/blog1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height:100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: 70px;
    }
    
    main .left-sec{
     padding-left: 100px;
     padding-top:10px;
    }

    .left-sec h3{
        color:#0070fa;
    }
    
    .left-sec h2{
     font-size:40px;   
     text-transform: capitalize;
     font-weight: bold;
     color: rgb(39, 39, 136);
     margin-top: 10px;
     margin-bottom:10px;
    }
    
    .left-sec h1{
     font-size:50px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
     color:#0070fa
    }
    
    .left-sec p{
     margin-bottom: 30px;
     color:blue;
     font-style:italic;
     font-weight:300;
    }
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }


    
/*Services Section*/

.section-title {
    margin-bottom: 60px;
}

section.services-section {
        padding: 30px 0px;
    background: #efefef;
}

.services-box {
    background: #FFF;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.services-box h3 {
    margin: 15px 0px 20px;
}

.services-box{
    background: linear-gradient(to right,#0070fa,#649bff);
    color: white;
}


/* booking section */

.booking-section{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url("../images/blog2.jpg") no-repeat;
background-size: cover;
padding: 40px 0px;
}


.form-control {
border-radius: 0;
height: 60px;
}

.form-group {
margin-bottom: 10px;
}

textarea {
height: 224px !important;
}

.form-col h4 {
text-transform: uppercase;
color: #FFF;
font-size: 18px;
font-weight: 400;
}

.form-col h3 {
font-size: 36px;
color: #FFF;
margin: 7px 0px 50px;
}



/*team Section*/

section.team-section {
    padding: 30px 0px;
}

.team-box {
    margin-bottom: 40px;
}

.team-info {
    text-align: center;
}

.team-info h3 {
    margin-top: 26px;
    margin-bottom: 0;
}

ul.team-social li {
    display: inline-block;
}

ul.team-social li a {
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-primary);
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: var(--color-primary);
}

 

 
/*Footer */

.section footer {
    padding-top:30px;
    padding: 40px 10px;
    color: #FFF;
 
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(../images/booking-bg.jpg) no-repeat;
    background-size: cover;
}

ul.footer-address li i {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 22px;
}

ul.footer-address li {
    position: relative;
    padding-left: 35px;
}

ul.footer-address li a {
    color: #FFF;
}

.footer-widget h3 {
    margin-bottom: 30px;
}

ul.footer-menu li a {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}

.about button{
padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    margin-left: 40px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
    border-radius: 10px;
}


    



@media (min-width:992px) and (max-width:1400px){
}




